[Desktop Entry]
Type=Application
Name=CutLabIA Studio
GenericName=Video Editor
Comment=Edit and export videos easily
Exec=drift %u
Icon=com.cutlabiastudio.studio
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;editor;movie;clip;ffmpeg;subtitles;
MimeType=application/x-drift-project;
StartupWMClass=drift
